<div class="col-md-3 float-left">
    <a routerLink="bikes">
        <img src="https://cdn.pixabay.com/photo/2014/09/07/22/33/motorbike-438464__340.jpg" alt="BikeImage" width="100%">
    </a>
    <a routerLink="cars">
        <img src="https://cdn.pixabay.com/photo/2015/09/02/12/25/bmw-918408__340.jpg" alt="CarImage" width="100%">
    </a>
    <a routerLink="planes">
        <img src="https://cdn.pixabay.com/photo/2015/12/26/19/52/military-jets-1109093__340.jpg" alt="PlaneImage" width="100%">
    </a>
</div>
<router-outlet></router-outlet>