<div class="container mt-4">
    <table class="table-bordered table-hover">
        <thead class="table-dark align-center">
            <tr>
                <th>Index</th>
                <th>login</th>
                <th>node_id</th>
                <th>Image</th>
                <th>Site_Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let users of gitUsers;index as i'>
                <td>{{i+1}}</td>
                <td>{{users.login}}</td>
                <td>{{users.node_id}}</td>
                <td>
                  <img [src]="users.avatar_url" alt=""> 
                </td>
                <td>{{users.site_admin}}</td>
            </tr>
        </tbody>
    </table>
</div>
